@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;700&display=swap");

    html {
        background-image: linear-gradient(to right, #364a63 30%, #603c41 70%);
        color:rgb(255, 255, 255);
        font-family: "Tektur", cursive;
        position: relative;
    }
    #stick{
        position: -webkit-sticky;
        position: sticky;
        background-image: linear-gradient(to right, #364a63 30%, #603c41 70%);
        top: 0;
    }
    #main {
        display: flex;
    }

    #photo>img {
        border-radius: 50%;
        height: 150px;
        width: 150px;
        margin-top: 25%;
        padding-left: 10px;
        transition: 1s ease;
    }

    #photo>img:hover {
        width: 250px;
        height: 250px;
    }

    #bio {
        padding: auto;
        display: flex;
        flex-grow: 3;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #name {
        font-size: 40px;
    }

    #contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-right: 10px;
        text-align: center;
        font-size: large;
    }
    #icons{
        font-size: x-small;
    }
    #icons>img{
        width: 35px;
        height: 35px;
        margin:5px;
    }
    a>img{
        width: 35px;
        height: 35px;
        margin:5px;
    }
    #b{
        height: 5000px;
    }
    
    .my-link{
        font-size: larger;
        color: white;

    }

    .my-link:hover {
        color: rgb(0, 0, 0);
    }

      