/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;700&display=swap");

/* Base styles */
html {
    background-image: linear-gradient(to right, #364a63 30%, #603c41 70%);
    color: rgb(255, 255, 255);
    font-family: "Tektur", cursive;
    position: relative;
}

/* Main container */
#main {
    display: flex;
    flex-direction: row;
}

/* Profile photo */
#photo {
    transition:1s ease-out;
    width:10%;
    height: auto;
    margin: auto;
    border-radius: 50%;
    justify-self: center;
    
}

/* Hover effect for photo */
#photo:hover {
    margin: auto;
    width: 15%;
}

/* Space filler */
#space {
    flex-grow: 2;
}

/* Bio section */
#bio {
    padding:0 2%; 
    font-size: 90%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* Styling for the bio */
    margin-top: 0%;
    margin: auto;
}

/* Name styling */
#name {
    font-size: 530%;
}

/* Contact info */
#contact {
    display: flex;
    flex-direction: column;
    max-width: 15%;
    text-align: center;
    margin: auto;
    font-size: 110%;
}

.icons{
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.icons>a{ 
    max-width: 100%;
    width: 100%;
    padding: 0 5% 0 5%;
}


/* Styling for links */
.my-link {
    font-size: 100%;
    color: white;
}

/* Hover effect for links */
.my-link:hover {
    color: rgb(0, 0, 0);
}

.info{
    font-size: 110%;
    height:calc(70vh);
    overflow-y:auto;
}


/* Media query for smaller screens */

@media screen and (max-width: 768px) {
    #photo {
        width: 15%;
        margin:auto;
    }

    #photo:hover {
        width: 35%;
    }
    
    #bio{
        font-size: 65%;
    }

    #name {
        font-size: 220%;
    }
    #contact{
        font-size:70%;
        max-width: 20%;
        margin: auto;
    }
    .icons>a { 
        width: 100%;
    }

    
}
